<html>

<head>
 <title>Settings Synchronizer for Bitbucket</title>
 <meta name="decorator" content="atl.admin"> $webResourceManager.requireResource("se.bjurr.ssfb.settings-synchronizer-for-bitbucket:globaladmin") $webResourceManager.requireResource("com.atlassian.auiplugin:aui-select")
</head>

<body>
 <h2>Synchronization settings</h2>
 <p>
  This is where you batch config/sync all repos. There is also settings on each repo settings page.
 </p>

 <form id="globalrepoadmin" class="aui ssfb">
  <fieldset class="group">
   <legend>
    <span>From repo</span>
   </legend>

   <select class="select" id="fromProject" name="fromProject">
   </select>

   <select class="select" id="fromRepo" name="fromRepo">
   </select>

   <fieldset class="group">
    <legend>
     <span>Hooks</span>
    </legend>

    <div class="checkbox hook-checkbox-template">
     <input class="checkbox" type="checkbox" name="hookConfigurationKeysToSync[]">
     <label for="hookConfigurationKeysToSync[]"></label>
    </div>
    <div class="field-group" id="hookcheckboxes">
    </div>
   </fieldset>

   <fieldset class="group">
    <div class="aui-buttons">
     <button class="aui-button aui-button-primary ssfb-save">Save</button>
    </div>
    <div class="description">
     Sync-settings in all repos will be reset to these settings.
    </div>
   </fieldset>
 </form>


 <form id="globalactionadmin" class="aui ssfb">
  <fieldset class="group">
   <legend>
    <span>Sync now</span>
   </legend>

   <div class="aui-buttons">
    <button class="aui-button aui-button-primary ssfb-sync-now">Sync now</button>
   </div>
   <div class="description">
    Settings in all repos will be reset to their master repo. You may want to save before you sync, if the repos does not already have sync-settings.
   </div>
  </fieldset>
  <form>
</body>

</html>