<html>

<head>
 <title>Settings Synchronizer for Bitbucket</title>
 <meta name="projectKey" content="$repository.project.key">
 <meta name="repositorySlug" content="$repository.slug">
 <meta name="decorator" content="bitbucket.repository.settings">
 <meta name="activeTab" content="se.bjurr.ssfb.repo.synchronization"> $webResourceManager.requireResource("se.bjurr.ssfb.settings-synchronizer-for-bitbucket:repoadmin") $webResourceManager.requireResource("com.atlassian.auiplugin:aui-select")
</head>

<body>
 <h2>Synchronization settings</h2>
 <p>
  There is also settings on the <a href="javascript:location.href=AJS.contextPath()+'/plugins/servlet/ssfb/globaladminview'">global admin page</a>. Where scheduled sync can be configured.
 </p>

 <form id="repoadmin" class="aui ssfb">

  <fieldset class="group">
   <legend>
    <span>From repo</span>
   </legend>

   <select class="select" id="fromProject" name="fromProject">
   </select>

   <select class="select" id="fromRepo" name="fromRepo">
   </select>
  </fieldset>

  <fieldset class="group">
   <legend>
    <span>Settings</span>
   </legend>
   <!--
   <div class="checkbox">
    <input class="checkbox" type="checkbox" name="repositoryDetails" id="repositoryDetails">
    <label for="repositoryDetails">Repository details</label>
   </div>
//-->

   <div class="checkbox">
    <input class="checkbox" type="checkbox" name="repositoryHooks" id="repositoryHooks">
    <label for="repositoryHooks">Repository hooks</label>
   </div>

   <!--
   <div class="checkbox">
    <input class="checkbox" type="checkbox" name="repositoryPermissions" id="repositoryPermissions">
    <label for="repositoryPermissions">Repository permissions</label>
   </div>

   <div class="checkbox">
    <input class="checkbox" type="checkbox" name="branchPermissions" id="branchPermissions">
    <label for="branchPermissions">Branch permissions</label>
   </div>

   <div class="checkbox">
    <input class="checkbox" type="checkbox" name="pullRequestSettings" id="pullRequestSettings">
    <label for="pullRequestSettings">Pull request settings</label>
   </div>

   <div class="checkbox">
    <input class="checkbox" type="checkbox" name="branchingModel" id="branchingModel">
    <label for="branchingModel">Branching model</label>
   </div>
  </fieldset>
//-->

   <fieldset class="group">
    <div class="aui-buttons">
     <button class="aui-button aui-button-primary">Save</button>
     <button class="aui-button sync-now">Sync now</button>
    </div>
   </fieldset>

 </form>
</body>

</html>